_schema-version: 3.3.0
ID: datastore-extension-ui-credentials
extends: datastore-extension-ui

modules:
- name: datastore-extension-ui-srv
  properties:
    OAUTH_TOKEN_URL: https://your-auth-endpoint/oauth/token
    OAUTH_CLIENT_ID: your-client-id
    OAUTH_CLIENT_SECRET: your-client-secret
    API_BASE_URL: https://your-api-endpoint/http/pipeline/api/v1
